library/
local/
cellar/
lock/
python/
staging/

/.quarto/
_site/
*.key
*speaker.html

# r stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# jetbrains
/.idea/modules.xml
/.idea/stats-website-template.iml
